[submodule "jsEHI"]
	path = jsEHI
	url = git@github.com:JasonKChow/jsEHI.git
[submodule "ov_demo"]
	path = ov_demo
	url = git@github.com:OPLabVanderbilt/ov_demo.git
[submodule "PSY2150-Skills-Workshop-1"]
	path = PSY2150-Skills-Workshop-1
	url = git@github.com:JasonKChow/PSY2150-Skills-Workshop-1.git
[submodule "PSY2150-Skills-Workshop-2"]
	path = PSY2150-Skills-Workshop-2
	url = git@github.com:JasonKChow/PSY2150-Skills-Workshop-2.git
[submodule "WMjs"]
	path = WMjs
	url = git@github.com:OPLabVanderbilt/WMjs.git
[submodule "oa_demo"]
	path = oa_demo
	url = git@github.com:OPLabVanderbilt/oa_demo.git
