#jspsych-categorize-image-stimulus {
    height: 540px;
    width: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -270px;
    margin-left: -360px;
}

p#feedback {
  position: absolute;
  top: 80%;
}

div#jspsych-progressbar-container span {
  display: none;
}
